logs
/target
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bower_dependencies
/node_modules
/projectFilesBackup
public/js/lvr-vendor.js
public/js/lvr-vendor-test.js
lvr-cloud.css
