<div class="login_form_container" layout="column" layout-align="start center"
     ng-controller="lvrCredentialsLoginController">

    <form layout="column" layout-fill layout-padding layout-align="center center"
          class="login_form md-whiteframe-8dp no-bottom-padding" name="loginForm"
          ng-submit="submit()" novalidate>

        <div class="whiteframe-title md-headline">
            {{'login.login' | translate}}
        </div>

        <md-input-container layout-fill>
            <label>{{'login.emailPlaceholder' | translate}}</label>
            <input type="email" name="email" ng-model="model.email" required/>

            <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                <div ng-message="required">{{'login.error.requiredField' | translate}}</div>
                <div ng-message="email">{{'login.error.invalidEmail' | translate}}</div>
                <div ng-message="emailOrPasswordInvalid">{{'login.error.emailOrPasswordInvalid' | translate}}</div>
            </div>
        </md-input-container>

        <md-input-container layout-fill class="no-bottom-padding">
            <label>{{'login.passwordPlaceholder' | translate}}</label>
            <input type="password" name="password" ng-model="model.password" ng-minlength=6 required/>

            <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                <div ng-message="required">{{'login.error.requiredField' | translate}}</div>
            </div>
        </md-input-container>

        <md-fab-progress class="md-fab-progress" loading="isProgress" click="submit()" fab-class="md-hue-1"
                         fab-area-label="Login"
                         progress-class="md-hue-1">
            <md-icon md-svg-src="/assets/img/svg/arrow_forward.svg"></md-icon>
        </md-fab-progress>

    </form>
    <a ui-sref="signUp" class="md-button md-raised md-primary">
        {{'login.signUp' | translate}}
    </a>

</div>
