<form name="credentials_sign_up_form" class="pure-form" ng-submit="submit()" novalidate>

    <span class="error" ng-show="emailNotValid">Email is not valid</span>
    <span class="error" ng-show="userAlreadyExists">User {{existingEmail}} already exists</span>
    <input type="email" name="email" ng-model="model.email" placeholder="Email" required/>

    <span class="error" ng-show="passwordNotValid">Password should be minimum 6 characters long</span>
    <input type="password" name="password" ng-model="model.password" placeholder="Password" ng-minlength=6 required/>

    <button type="submit" class="pure-button pure-button-primary">Sign up</button>
</form>
