<form name="credentials_sign_in_form" class="pure-form" ng-submit="submit()" novalidate>

    <span class="error" ng-show="emailPasswordNotValid">{{'login.error.invalidEmailOrPassword' | translate}}</span>

    <span class="error" ng-show="accessDenied">{{'login.error.accessDenied' | translate}}</span>

    <input type="email" ng-model="model.email" placeholder="{{'login.emailPlaceholder' | translate}}" autofocus required/>

    <input type="password" ng-model="model.password" placeholder="{{'login.passwordPlaceholder' | translate}}" ng-minlength=6 required/>

    <button type="submit" class="pure-button pure-button-primary">Log in</button>
</form>
