<div class="login_form_container" layout="column" layout-align="start center"
     ng-controller="lvrCredentialsSignInController">

    <form layout="column" layout-fill layout-padding layout-align="center center"
          class="login_form md-whiteframe-z4 no-bottom-padding" name="signInForm"
          ng-submit="submit()" novalidate>

        <div class="whiteframe-title md-headline">
            Login
        </div>

        <span class="error email-password-not-valid" ng-show="emailPasswordNotValid">{{'login.error.invalidEmailOrPassword' | translate}}</span>

        <md-input-container layout-fill>
            <label>{{'login.emailPlaceholder' | translate}}</label>
            <input type="email" name="email" ng-model="model.email" ng-minlength=5 required/>
        </md-input-container>

        <md-input-container layout-fill class="no-bottom-padding">
            <label>{{'login.passwordPlaceholder' | translate}}</label>
            <input type="password" name="password" ng-model="model.password" ng-minlength=6 required/>
        </md-input-container>

        <md-fab-progress class="md-fab-progress" loading="isProgress" click="submit()" fab-class="md-hue-1" fab-area-label="Login"
                         progress-class="md-hue-1">
            <md-icon md-svg-src="/assets/img/svg/arrow_forward.svg"></md-icon>
        </md-fab-progress>

    </form>
    <a class="md-button md-raised md-primary">
        Sign up
    </a>

</div>
