<div class="buttons">
    <lvr-upload-button class="upload pure-button" ng-file-select="onFileSelect($files)"></lvr-upload-button>
    <div class="settings pure-button"><i class="icon-settings"></i></div>
</div>
<ul class="items">
    <li class="menu-root menu-item"><i class="icon-view-all"></i>All books</li>

    <li class="menu-root menu-item menu-tree" ng-controller="lvrFolderTreeCtrl">

        <i class="icon-arrow-down" ng-show="expanded" ng-click="toggleExpand()"></i>
        <i class="icon-arrow-right" ng-show="!expanded" ng-click="toggleExpand()"></i>
        <span>Folders</span>

        <ul lvr-folder-tree children="rootFolder.children" class="sub-folder" ng-show="expanded"></ul>

    </li>

    <li class="menu-root menu-item"><i class="icon-recent"></i>Recent</li>
    <li class="menu-root menu-item"><i class="icon-to-read"></i>To-reads</li>
    <li class="menu-root menu-item"><i class="icon-menu-archive"></i>Archive</li>

</ul>
