@(bootstrapData: String)
<!DOCTYPE html>
<html>
    <head>
        <title>Livrarium</title>
        <meta charset="utf-8">
        <base href="/">
        <link rel="stylesheet" href="@routes.Assets.at("styles/lvr-cloud.css")">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

        <script>
        // path to js may vary, this way we will inject it in the application
        window.pathToApp = "/assets/js/app/" ;

        window.bootstrapData = @Html(bootstrapData);
        </script>

        <script src="@routes.Assets.at("js/lvr-vendor.js")"></script>

        <script src="@routes.Assets.at("js/app/app.js")"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>

        <script src="@routes.Assets.at("js/app/i18n/en.js")"></script>

        <script src="@routes.Assets.at("js/app/modules/components/components.js")"></script>
        <script src="@routes.Assets.at("js/app/modules/components/fab-progress/fab-progress.js")"></script>

        <script src="@routes.Assets.at("js/app/common/constants.js")"></script>
        <script src="@routes.Assets.at("js/app/models/identity.js")"></script>

        <script src="@routes.Assets.at("js/app/models/book.js")"></script>
        <script src="@routes.Assets.at("js/app/models/folder.js")"></script>

        <script src="@routes.Assets.at("js/app/services/folders.js")"></script>
        <script src="@routes.Assets.at("js/app/services/books.js")"></script>

        <script src="@routes.Assets.at("js/app/modules/login/login.js")"></script>
        <script src="@routes.Assets.at("js/app/modules/sign-up/sign-up.js")"></script>

        <script src="@routes.Assets.at("js/app/modules/cloud/cloud.js")"></script>

        <script src="@routes.Assets.at("js/app/modules/header/header.js")"></script>

        <script src="@routes.Assets.at("js/app/modules/sidenav/sidenav.js")"></script>
        <script src="@routes.Assets.at("js/app/modules/sidenav/folder-tree.js")"></script>
        <script src="@routes.Assets.at("js/app/modules/upload-button/upload-button.js")"></script>

        <script src="@routes.Assets.at("js/app/modules/content/content.js")"></script>
        <script src="@routes.Assets.at("js/app/modules/content/all/all.js")"></script>

        <script src="@routes.Assets.at("js/app/modules/book-viewer/book-viewer.js")"></script>

    </head>
    <body ng-app="lvr">
        <div ui-view layout-fill></div>
    </body>
</html>
