<!DOCTYPE html>

<html>
    <head>
        <title>Livrarium</title>
        <script src="@routes.Assets.at("../../public/js/libs/bower_dependencies/ng-file-upload/angular-file-upload-shim.js")"></script>
        <script src="@routes.Assets.at("../../public/js/libs/bower_dependencies/angular/angular.js")"></script>
        <script src="@routes.Assets.at("../../public/js/libs/bower_dependencies/ng-file-upload/angular-file-upload.js")"></script>
        <script src="@routes.Assets.at("js/app/modules/upload-button/upload-button.js")"></script>
    </head>
    <body ng-app="myApp">
        <div ng-controller="MyCtrl">
            <input type="text" name="book" ng-model="myModelObj">
            <input type="file" name="book" ng-file-select="onFileSelect($files)" >
            <input type="file" name="book" ng-file-select="onFileSelect($files)" multiple>
            <button ng-click="upload.abort()">Cancel Upload</button>
        </div>
    </body>
</html>
